*.log
*.tmp
*.xlsx
*.csv




usuarios_duplicados.xlsx
Planilha Julho 7 Atualizada.xlsx
Planilha Julho 7 nova.xlsx
Planilha Julho 7.xlsx
Planilha Julho 7 01_10.xlsx
BASE.csv
dados_clinipan_mais.xlsx
dados_clinipan.xlsx
dados_hap_ndi_sp.xlsx
dados_hap.xlsx
dados_ndi_sp.xlsx
Planilha Julho 7 Atualizada.xlsx
Planilha Julho 7 nova.xlsx
Planilha Julho 7.xlsx
junho.xlsx
junho_abas_desejadas.xlsx
detalhamento_de_pesquisa_julho_eletivo.xlsx
detalhamento_de_pesquisa_julho_urgencia.xlsx
Planilha Julho 7 01_10 copy.xlsx
Planilha Julho 7 01_10.xlsx







